* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f7fa;
    color: #333;
}

.header {
    background-color: #1f2933;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
    background-color: #e8f0fe;
}

.hero-text {
    width: 50%;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero-text p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.hero-text  {
    padding: 12px 25px;
    border: none;
    background-color: #646e84;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.hero-box {
    width: 40%;
    height: 250px;
    background-color: #c7d2fe;
    border-radius: 10px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 50px;
    background-color: white;
}

.feature {
    width: 30%;
    padding: 25px;
    background-color: #f1f5f9;
    border-radius: 8px;
    text-align: center;
}

.feature h3 {
    margin-bottom: 10px;
    color: #2563eb;
}

.about {
    padding: 60px 50px;
    text-align: center;
}

.about h2 {
    margin-bottom: 15px;
}

.about p {
    max-width: 700px;
    margin: auto;
    line-height: 1.7;
}

.footer {
    background-color: #1f2933;
    color: white;
    text-align: center;
    padding: 15px;
}
