* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(222, 219, 219);
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #505354;
    padding: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(222, 219, 219);
    font-size: 16px;
}


#about {
          background-color: #7d8082;
          color: #ffffff;
          display: flex;
          width: auto;
          height: 500px;
}

.about {
          margin-top: 10px;
          justify-items: left;
          margin-left: 15%;           
          background-color: #7d8082;
          color: #ffffff;
}
#hireme{
          padding: 5px;
          width: 100px;
          height: 40px;
          background-color: rgb(41, 145, 215);
          
}
#about {
    background-color: #7d8082;
    display: flex;
    align-items: center;
    height: 500px;
    position: relative;
}

.about {
    margin-left: 15%;
    width: 40%;
    color: #fffbfb;
}

.hero-img {
    position: absolute;
    right: 5%;
    bottom: 0;
}

.hero-img img {
    height: 650px;
}

.small-img {
    position: absolute;
    top: 400px;
    bottom: 0;

}

.small-img img {
    height: 580px;
    width: 650px;
}

.lo{
          margin-top: 90px;
          position: absolute;
          left: 40%;
          color: black;

}
#btn{
          width: 100px;
          height: 50px;
          background-color: rgb(58, 175, 248);
}