* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 300px;
    background-color: #121212;
    border-radius: 20px;
    padding: 15px;
}

.display {
    height: 90px;
    color: white;
    text-align: right;
    padding: 10px;
}

.expression {
    font-size: 16px;
    color: #aaa;
}

.result {
    font-size: 36px;
    margin-top: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 55px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

.dark {
    background-color: #2a2a2a;
    color: white;
}

.light {
    background-color: #3a3a3a;
    color: #bdbdbd;
}

.operator {
    background-color: #9c4dcc;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.zero {
    grid-column: span 2;
}


.zero {
    grid-column: span 2;
}
